@import url('../../styles/styles.css');

.allnews{
    display: flex;
    flex-direction: column; 
    max-width: 1094px; 
    margin: 0 auto;
    padding: 0 8px;
}

.newscontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 40px;
    border-radius: 5px;
}

.newsitem{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.news-title{
    font-weight: 500;
    height: 100px;
    font-size: 15px;
    color: mintcream;
    padding: 10px;
    background: #031239;
    overflow:hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.newsitem img{
    width: 100%;
    object-fit: fill;
    height: 180px;
}

.news-source{
    color: var(--main_blue);
    padding: 5px;  
    display: flex;
    flex-direction: column;
}

.newsitem:active{
    box-shadow: 0px 0px 5px 5px #b1b7c5;
}