@import url('../../styles/styles.css');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.loginpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    height: 89vh;
    background: url('./loginpic.png');
}

.logincontainer{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: fit-content;
    align-items: center;
}

.blankcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    background-position: center;
}

.blankcolumn h1{
    font-weight: 800;
    color: #ffffff;
    font-size: 50px;
}

.blankcolumn h4{
    color: #ffffff;
    font-weight: 600;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap:10px;
    flex: 1;
    height: fit-content;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
}

.login h1,h2{
    font-weight: 800;
    text-align: center;
}

.loginoptions{
    display: flex;
    justify-content:center;
    gap:10px;
}

.loginoptions button{
    width: 30%;
    border:0px;
    border-radius: 5px;
    background-color: var(--main_green);
    color: white;
    cursor: pointer;
}

.loginform{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginform h1,span{
    color: black;
}

.logintext{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
    width: 100%;
    margin-bottom: 20px;  
}

.loginput{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
}

.loginform input:focus {
    outline: none;
}

.logbut{
    background: var(--main_green);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.logbut:active{
    transform: scale(1.01);
}