.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_key{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search_key_form{
    width:60%;
    border: 2px solid;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

.search_button{
    border:0px white;
    border-radius: 5px;
    background: slategray;
    cursor: pointer;
}

.search_button:active{
    background: rgb(9, 146, 66);
}

.news_data{
    margin-top: 20px;
}

.news_data table, th, td {
    border: 1px solid rgb(118, 93, 93);
    border-collapse: collapse;
}

.news_data{
    th, td {
        background-color: #96D4D4;
        font-size: 20px;
    }
}